body {
	margin: 0;
	font-family: 'Aldrich';font-size: 16px;
	background-color: #666666;
}

.topnav {
	overflow: hidden;
	background-color: #8E00FF;
	text-shadow: 1px 1px 3px black;
}

.topnav a {
	float: left;
	color: #F2F2F2;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #400090;
	color: white;
}

.topnav a.active {
	background-color: #AF33FF;
	color: white;
}

p {
	color: #DDDDDD;
	text-shadow: 1px 1px 3px black;
}

h2 {
	color: #DDDDDD;
	text-shadow: 1px 1px 3px black;
}
